[Unit]
Description = Monitoring NFS mount
After=network-online.target

[Mount]
What={{ monitoring_nfs_url }}:/
Where={{ monitoring_nfs_mount_dir }}
Type=nfs4
Options={{ monitoring_nfs_options }}
TimeoutSec=60

[Install]
WantedBy=multi-user.target
